@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"); // inter font

:root {
  // dark theme
  --background: #151616;
  --foreground: #242526;
  --foreground-hover: #484a4d4f;
  --foreground-accent: #484a4d;
  --foreground-accent-hover: #505050;
  --text-color: #dadce1;
  --border: 1px solid #474a4d;

  // light theme
  --background: #fafafa;
  --foreground: #fff;
  --foreground-hover: #e3e3e33f;
  --foreground-accent: #e3e3e3;
  --foreground-accent-hover: #e3e3e3;
  --text-color: #000;
  --border: 1px solid #f0f0f0;

  // test
  --primary: #185EE0;
  --secondary: #E6EEF9;
  --secondary: #fafafa;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  max-height: 100vh;
  max-width: 100vw;
  width: 100%;
  height: 100%;

  background: var(--background);

  font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
