/* TODO: https://css-tricks.com/transforms-on-svg-elements/ */

.item {
  stroke-width: 1;
  stroke: rgb(175, 175, 175);

  transition: fill 0.3s ease-in-out 0s;

  transform-box: fill-box;
  transform-origin: center;
}

.visited {
  animation-name: scaleUp;
  animation-timing-function: ease-in-out;
  animation-duration: 0.4s;
}

/* visited -> solution */
.solution {
  animation-name: test;
  animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  animation-duration: 0.5s;
}

@keyframes test {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  65% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
