@import url('/src/assets/fonts/inter/index.css');

:root {
  /* dark theme */
  --background: #151616;
  --foreground: #242526;
  --foreground-hover: #484a4d4f;
  --foreground-accent: #484a4d;
  --foreground-accent-hover: #505050;
  --text-color: #dadce1;
  --border: 1px solid #474a4d;

  /* light theme */
  --background: #fafafa;
  --foreground: #fff;
  --foreground-hover: #e3e3e34f;
  --foreground-accent: #e3e3e3;
  --foreground-accent-hover: #e3e3e3;
  --text-color: #000;
  --border: 1px solid #f0f0f0;

  --navbar-size: 60px;
  --border-radius: 8px;
  --speed: 300ms;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}
body {
  background: var(--background);

	font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
	list-style: none;
	margin: 0;
  padding: 0;
}
a {
	text-decoration: none;
}
